<% include partials/header %>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1478021841986-00127e0a97d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">Welcome to IndoorPlants!</h1>
        <a href="/plants" class="btn btn-success btn-lg">View the plants</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1504890283869-c3de3cea0c59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">Welcome to IndoorPlants!</h1>
        <a href="/plants" class="btn btn-success btn-lg">View the plants</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1580199882260-2786cc7a5ab3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">Welcome to IndoorPlants!</h1>
        <a href="/plants" class="btn btn-success btn-lg">View the plants</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1513943517251-aa4a9e64ed24?ixlib=rb-1.2.1&auto=format&fit=crop&w=1487&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">Welcome to IndoorPlants!</h1>
        <a href="/plants" class="btn btn-success btn-lg">View the plants</a>
      </div>
    </div>
    <div class="carousel-item">
      <img class="img-fluid" src="https://images.unsplash.com/photo-1425736317462-a103b1303a35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="display-3">Welcome to IndoorPlants!</h1>
        <a href="/plants" class="btn btn-success btn-lg">View the plants</a>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

<% include partials/footer %>
