<% include ../partials/header %>

<div class="container">
      <header class='jumbotron mt-3' id="header">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead">This is a list of campgrounds. You can add yours too!</p>
        <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add a new campground</a>
      </header>
      <section class="" id="gallery">
        <div class="container">
          <div class="row" >

            <%campgrounds.forEach((campground)=>{%>
            <div class="col-lg-4 mb-3">
              <div class="card" >
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=campground.name%></h5>
                  <p class="card-text"><%=campground.description%></p>
                  <a href="/campgrounds/<%=campground._id%>" class="btn btn-outline-primary">More</a>
                  <a href="#" class="btn btn-outline-danger"><i class="far fa-heart"></i></a>
                </div>
              </div>
            </div>
            <%})%>

          </div>
        </div>
      </section>

<script src="https://kit.fontawesome.com/0b148261e1.js" crossorigin="anonymous"></script>

</div>
<%include ../partials/footer %>
