.carousel-caption {
top:58%;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}

.carousel-caption h1 {
  font-size:5vw;
}

.carousel-caption a {
  font-size:2.5vw;
}
