<% include ../partials/header %>

<div class="container my-5">


      <h1>Create a new plant</h1>


      <form class="" action="/plants" method="post">
        <div class="form-group row">
          <label for="inputCampName" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input name="name" class="form-control" id="inputCampName" placeholder="Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputImageURL" class="col-sm-2 col-form-label">Image url</label>
          <div class="col-sm-10">
            <input name="image" class="form-control" id="inputImageURL" placeholder="Image url">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputWatering" class="col-sm-2 col-form-label">Watering</label>
          <div class="col-sm-10">
            <input name="water" class="form-control" id="inputWatering" placeholder="Watering needs">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputLight" class="col-sm-2 col-form-label">Light</label>
          <div class="col-sm-10">
            <input name="light" class="form-control" id="inputLight" placeholder="Preffered brightness">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputSoil" class="col-sm-2 col-form-label">Soil</label>
          <div class="col-sm-10">
            <input name="soil" class="form-control" id="inputSoil" placeholder="Soil requirements">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputDifficulty" class="col-sm-2 col-form-label">Difficulty</label>
          <div class="col-sm-10">
            <input name="difficulty" class="form-control" id="inputDifficulty" placeholder="Is it easy to take care of?">
          </div>
        </div>
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">Price</label>
          <div class="col-sm-10">
            <input name="price" type="number" min="0" step='0.01' class="form-control" id="price" placeholder="Price per plant">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" name="description" id="inputDescription" rows="3" placeholder="Describe the plant"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-block">Add plant</button>
          </div>
        </div>
      </form>
      <a class="btn btn-outline-primary btn-sm" href="/plants" role="button">Go Back</a>
</div>
<!--
<form class="" action="/plants" method="post">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="image" value="" placeholder="image url">
  <button type="submit"> submit</button>
</form>
-->


<% include ../partials/footer %>
